
<div id="carouselExampleIndicators" class="carousel slide">

  <ol class="carousel-indicators">
    <li (mouseover)="displayThumbnail(image);" *ngFor="let image of photos; let index = index;" [class.active]="index === i" (click)="i = index;"></li>
  </ol>

  <div class="carousel-inner">
    <div *ngFor="let image of photos; let index = index;" class="carousel-item" [class.active]="index === i">
      <img src="{{ image.url }}" alt="{{ image.title }}">
      <div class="carousel-caption d-none d-md-block">
        <p>{{ image.title }}</p>
      </div>
    </div>
  </div>
  </div>

  <a class="carousel-control-prev" *ngIf="canPrev" (click)="getPrev()" (mouseover)="displayThumbnail(photos[i - 1]);" role="button">
    <img *ngIf="thumbnail" class="img-thumbnail" src="{{ thumbnail.url }}" aria-hidden="true" />
    <span class="sr-only">prev</span>
  </a>

  <a class="carousel-control-next" *ngIf="canNext" (click)="getNext()" (mouseover)="displayThumbnail(photos[i + 1]);"  role="button">
    <img *ngIf="thumbnail" class="img-thumbnail" src="{{ thumbnail.url }}" aria-hidden="true"/>
 </a>


  

<img *ngIf="thumbnail" class="img-thumbnail" src="{{ thumbnail.url }}" />