<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <main class="col-12">
      <div class="d-flex justify-content-center align-items-center">
        <app-carousel></app-carousel>
      </div>
    </main>
  </div>
</div>